@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
	margin: 0px;
	padding: 0px;

}
body{
	font-family: 'Poppins', sans-serif;
	background: #476482;
}
.header h1{
	    padding: 50px 0px;
    font-size: 3rem;
    text-align: center;
    color: #9f92d1;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.items img{
	 width: 400px;
    height: 300px;
    margin: 20px;
    transition: 1s;
}
.items img:hover{
	transform: scale(1.1);
	box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
	
}